Direcionando para o PagSeguro...

<!-- 08/06/2024 -->
<!-- https://pagseguro.uol.com.br/desenvolvedor/carrinho_proprio.jhtml#rmcl -->

<form method="post" action="https://pagseguro.uol.com.br/checkout/checkout.jhtml">
  <input type="hidden" name="email_cobranca" value="claudiopaiva1@yahoo.com.br">
  <input type="hidden" name="tipo" value="CP">
  <input type="hidden" name="moeda" value="BRL">
  <input type="hidden" name="encoding" value="UTF-8">

  <!-- PRODUTOS -->
  {loop="$products"}
  <input type="hidden" name="item_id_{$counter+1}" value="{$value.idproduct}">
  <input type="hidden" name="item_descr_{$counter+1}" value="{$value.desproduct}">
  <input type="hidden" name="item_quant_{$counter+1}" value="{$value.nrqtd}">
  <input type="hidden" name="item_valor_{$counter+1}" value="{$value.vlprice*100}">
  {if="$counter != 0"}
  <input type="hidden" name="item_frete_{$counter+1}" value="0">
  {else}
  <input type="hidden" name="item_frete_1" value="{$order.vlfreight*100}">
  {/if}
  <input type="hidden" name="item_peso_{$counter+1}" value="{$value.vlweight*1000}">
  {/loop}

  <input type="hidden" name="ref_transacao" value="{$order.idorder}">

  <!-- INÍCIO DOS DADOS DO USUÁRIO -->
  <input type="hidden" name="cliente_nome" value="{function="utf8_encode($order.desperson)"}">
  <input type="hidden" name="cliente_cep" value="{$order.deszipcode}">
  <input type="hidden" name="cliente_end" value="{$order.desaddress}">
  <input type="hidden" name="cliente_num" value="{function="utf8_encode($order.desnumber)"}">
  <input type="hidden" name="cliente_compl" value="{function="utf8_encode($order.descomplement)"}">
  <input type="hidden" name="cliente_bairro" value="{$order.desdistrict}">
  <input type="hidden" name="cliente_cidade" value="{$order.descity}">
  <input type="hidden" name="cliente_uf" value="{function="utf8_encode($order.desstate)"}">
  <input type="hidden" name="cliente_pais" value="BRA">
  <input type="hidden" name="cliente_ddd" value="{$phone.areaCode}">
  <input type="hidden" name="cliente_tel" value="{$phone.number}">
  <input type="hidden" name="cliente_email" value="{$order.desemail}">
  <!-- FIM DOS DADOS DO USUÁRIO -->

  <input type="hidden" name="tipo_frete" value="EN">
  <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/99x61-pagar-assina.gif" name="submit" alt="Pague com PagBank - é rápido, grátis e seguro!">
</form>

<script type="text/javascript">
//document.forms[0].submit();
</script>