<form target="pagseguro" method="post" action="https://pagseguro.uol.com.br/checkout/checkout.jhtml">
  <input type="hidden" name="email_cobranca" value="claudiopaiva1@yahoo.com.br">
  <input type="hidden" name="tipo" value="CP">
  <input type="hidden" name="moeda" value="BRL">

  <input type="hidden" name="item_id_1" value="12345">
  <input type="hidden" name="item_descr_1" value="Descrição do item a ser vendido">
  <input type="hidden" name="item_quant_1" value="1">
  <input type="hidden" name="item_valor_1" value="100">


  <input type="hidden" name="item_id_2" value="67890">
  <input type="hidden" name="item_descr_2" value="Descrição do item 2 a ser vendido">
  <input type="hidden" name="item_quant_2" value="1">
  <input type="hidden" name="item_valor_2" value="199">


  <!-- INÍCIO DOS DADOS DO USUÁRIO -->
  <input type="hidden" name="cliente_nome" value="Nome do cliente">
  <input type="hidden" name="cliente_cep" value="29200720">
  <input type="hidden" name="cliente_end" value="Rua José Barcelos de Mattos">
  <input type="hidden" name="cliente_num" value="12">
  <input type="hidden" name="cliente_compl" value="Sala 109">
  <input type="hidden" name="cliente_bairro" value="Bairro do cliente">
  <input type="hidden" name="cliente_cidade" value="Cidade do cliente">
  <input type="hidden" name="cliente_uf" value="ES">
  <input type="hidden" name="cliente_pais" value="BRA">
  <input type="hidden" name="cliente_ddd" value="27">
  <input type="hidden" name="cliente_tel" value="22345678">
  <input type="hidden" name="cliente_email" value="emaildocliente@cliente.com.br">
  <!-- FIM DOS DADOS DO USUÁRIO -->

  <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/99x61-pagar-assina.gif" name="submit" alt="Pague com PagBank - é rápido, grátis e seguro!">
</form>