<!DOCTYPE html>
<form target="pagseguro" method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">
  <input type="hidden" name="email_cobranca" value="claudiopaiva1@yahoo.com.br">
  <input type="hidden" name="tipo" value="CP">
  <input type="hidden" name="moeda" value="BRL">

  <input type="hidden" name="item_id_1" value="12345">
  <input type="hidden" name="item_descr_1" value="Descrição do item a ser vendido">
  <input type="hidden" name="item_quant_1" value="1">
  <input type="hidden" name="item_valor_1" value="100">

  <input type="hidden" name="item_id_2" value="67890">
  <input type="hidden" name="item_descr_2" value="Descrição do item 2 a ser vendido">
  <input type="hidden" name="item_quant_2" value="1">
  <input type="hidden" name="item_valor_2" value="199">

  <input type="hidden" name="tipo_frete" value="EN">
  <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/99x61-pagar-assina.gif" name="submit" alt="Pague com PagBank - é rápido, grátis e seguro!">
</form>
</html>